<div class = "container">

 <div class = "navbar">
   <h2 routerLinkActive="active"><a routerLink = "/">КАЛЕНДАР ЗАХОДІВ</a></h2>
  <ul>
    <li routerLinkActive = "active"
        [routerLinkActiveOptions] = "{exact: true}">
      <a [routerLink] = "'/'">Головна</a></li>
    <li routerLinkActive="active">
      <a [routerLink] = "['/shedule']">Календар заходів</a></li>
  </ul>
 </div>

 <div class = "centralPart">
   <router-outlet></router-outlet>
 </div>

 <div class = "footer">

 </div>
</div>
