<div class = "container">
 <div>
  <div *ngIf="addAllowed" [ngStyle] = "{'margin-bottom': '-20px'}">
   <event-creator-form (createdEvent)="addEvent($event)"></event-creator-form>
  </div>
  <button
    [style.marginTop] = "'none'"
   class = "btn lf"
   (click)="allowAdding()">
    {{ buttonName }}
  </button>

  <input class = "rt"
   id = "search"
   type = "text"
   name="search"
   title="Поле для пошуку"
   [style.marginTop] = "'none'"
   placeholder="Пошук...">
  <button
    class = "btn rt"
    [style.marginTop] = "'none'">
    Знайти
  </button>
 </div>

 <div class = "scheduleContainer">
   <table>
     <tr>
         <th class = "title">Назва заходу</th>
         <th class = "start">Дата початку</th>
         <th class = "start">Дата завершення</th>
         <th class = "days">Тривалість</th>
     </tr>

     <tr (click)="redirectToEvent(event)" *ngFor = "let event of getSchedule()">
           <td>{{ event.title }}</td>
           <td>{{ event.startDay | date: 'dd.MM.yy'}}</td>
           <td>{{ event.finishDay | date: 'dd.MM.yy' }}</td>
           <td>{{ event.days | number:'1.0-0'}}</td>
     </tr>
   </table>
 </div>

</div>

