.scheduleContainer{
	width: 100%;
}

table{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
  border: 1px solid red;
}

th, td {
  /*width: 30px;*/
  border: 1px solid red;
	text-align: center;
	padding: 5px;
}

td {
  cursor: pointer;

}

/*
.title{
	width: 55%;
	text-align: left;
}

.start{
	width: 20%;
}

.days{
	width: 14%;
}

.lf {
  float: left;
}

.rt {
  float: right;
}
*/
