td{
  width: 30px;
  border: 1px solid red;
  text-align: center;
  padding: 5px;
  table-layout: fixed;
}

/*table{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

td{
	border: solid red 1px;
  border-top: none;
	text-align: center;
	padding: 5px;
}*/

/*
.title{
	width: 55%;
	text-align: left;
}

.start .finish{
	width: 20%;
}

.days{
	width: 14%;
}
*/
